.movieContainer {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform .2s;
}

.movieContainer:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.movieContainer img{
    width: 100%;
}